@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --black: #000;
    --white: #fff;
    --white-10: #ffffff38;
}

h1, h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

.img_icon {
    height: 62px;
}

.background_abou_icons {
    border-radius: 5px;
    background-color: var(--white);
    padding: 5px;
}


header {
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--white);
    padding: 20px;
    font-size: .90rem;
    position: fixed;
    top: 0;
    z-index: 999;
}

header > ul {
    display: flex;
    gap: 30px;
    list-style-type: none
}

header > ul > a {
    color: var(--white);
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: .3s linear;
    text-decoration-color: transparent;
}

header > ul > a:hover {
    text-decoration-color: var(--white);
}

section {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.logo_header {
    display: flex;
    gap: 10px;
    color: var(--white);
}

.hero_section {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.hero_section > img {
    width: 400px;
    border-radius: 10px;
    transition: .5s ease;
}

.hero_section > img:hover {
    transform: rotate(-1deg);
}

.hero_section > .right_text_hero {
    width: 40%;
    height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.hero_section > .right_text_hero > .buttons_hero {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero_section > .right_text_hero > .buttons_hero > button {
    width: 100%;
    padding: 15px;
    border: 2px solid var(--black);
    border-radius: 10px;
    background-color: transparent;
    transition: linear .3s ;
    font-weight: 500;
}

.hero_section > .right_text_hero > .buttons_hero > .button_hero_light:hover, .hero_section > .right_text_hero > .buttons_hero > .button_hero_dark {
    background-color: var(--black);
    color: var(--white);
}


.hero_section > .right_text_hero > .buttons_hero > .button_hero_dark:hover {
    background-color: var(--white);
    color: var(--black);
}

.about_section {
    background-color: var(--black);
    color: var(--white);
    gap: 60px;
}

.about_header {
    width: 520px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
}

.about_cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.about_cards > .card_about {
    width: 340px;
    display: flex;
    gap: 30px;
    align-items: center;
    border: var(--white) 2px solid;
    padding: 10px;
    border-radius: 10px;
    transition: .3s linear;
}

.card_about:hover {
    background-color: var(--white-10);
}

.products_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.products_section {
    gap: 60px;
}

.product_informations {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

footer {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 100px;
}

footer > h4 {
    font-weight: 500;
}

@media screen and (width < 1140px) {
    section {
        height: auto;
        padding: 50px;
    }

    .hero_section > img {
        width: 250px;
    }
} 

@media screen and (width < 669px) {
    header > ul {
        display: none;
    }

    .hero_section > .right_text_hero {
        width: 90%;
    }
    
    .hero_section > .right_text_hero > .buttons_hero {
        flex-wrap: wrap;
    }
}
